
    .filter_box{
        background:#fff;
        border-radius:0;
        border:1px solid #D9D9D9!important;}
    .uz_filter_field_box{
        float:left;
        margin-top: 14px;
        margin-right: 30px;
    }
    .dialog{
        position:absolute;
        border: 1px solid #D9D9D9;
        padding: 10px;
        background: none repeat scroll 0 0 #FFFFFF;
            z-index: 999;
        display:none;}
    .uz_filter_box_caption{
        color: #000000;
        font-weight: bold;
        display: inline;
        cursor: default;
        font-size:12px;
        margin-right: 10px;
        vertical-align: middle;
    }
    .uz_filter_box_caption_clickable{
        color: #000000;
        font-weight: normal;
        display: inline;
        cursor: pointer;
        font-size:12px;
        
    }
    .uz_caption_border{
        border-bottom: 1px dotted #000000;
        display: inline;
        float:left;
    }
    .uz_filter_box_caption_as_label{
        display: inline;
        font-weight: normal;
        cursor: pointer;
        font-size:12px;
        color:#000;
    }
    .uz_filter_box_caption_desc{
        border: 1px solid #516B94;
        color: #516B94;
        cursor: pointer;
        display: inline;
        font-size: 12px;
        margin-left: 3px;
        padding: 0 4px;
    }
    .uz_filter_box_vals_hidden{
        display: none;
    }
    .uz_filter_box_vals{
        margin: 10px 0 0 17px;
    }
    
    .uz_es_filter_label{
        color: #000000;
        font-size:11px;
    }
    .uz_es_filter_label_disabled{
        color: #909090;
    }
    .uz_matched_cnt_box{
    }
    .uz_arrow {
        background: url("/_img/arrow.png") no-repeat scroll left top transparent;
        display: inline-block;
        height: 11px;
        margin-right: 10px;
        width: 11px;
        float:left;
    }
    .uz_arrow_act {
        background: url("/_img/arrow_act.png") no-repeat scroll left top transparent;
        display: inline-block;
        height: 11px;
        margin-right: 10px;
        width: 11px;
        float:left;
}
    .uz_filter_btn{
        clear:both;
        margin: 23px 0 0 4px;}
    
    .uz_filter_field_box select{
        color:#000;
     }

     .uz_filter_box_vsplitter{
     clear:both;
     height:30px;}

     .arrow_grey{
    left: 10px;
    position: absolute;
    top: -8px;
    z-index: 9999;}
